*.crypt
*.pptx
*.ppt
*.rar
upload/*
content/de/*
content/en/*
web-content/*
web-images/*
web-others/*
webSockets/*
.idea/*
.ides/scopes/*
einsatz/*
einsatz.php
einsatzFunctions.php
einsatzNewYear.php
