*.crypt
*.pptx
*.ppt
*.rar
*.txt
upload/*
content/de/*
content/en/*
content/einsatz/*
web-content/*
web-images/*
web-others/*
webSockets/*
.idea/*
.ides/scopes/*
einsatz/*
moveOldPage.php
fb.php
imagesOld/*