*.crypt
*.pptx
*.ppt
*.rar
*.txt
upload/*
content/de/*
content/en/*
content/einsatz/*
web-content/*
web-images/*
web-others/*
webSockets/*
.idea/*
.ides/scopes/*
einsatz/*
moveOldPage.php
fb.php
imagesOld/*
mobile.php
index.php
html5.php
styleMobile.min.css
styleHTML5.min.css
scriptHTML5.min.js
scriptMobile.min.js
rightBar*.php
specialContent.php
styleSpecialContent*css
node_modules/*
pictures/*