img{
    border: 0;
}
p{
    padding: 0;
    margin: 0;
}
.hidden{
    visibility:hidden;
    height:0;
    width:0;
    overflow:hidden;
}
.height0{
    height:0;
    opacity:0;
}
.opac0{
    opacity:0;
}
.galPic{
    margin:1px;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    cursor:pointer;
}
.gallery img{
    margin:1px;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    cursor:pointer;
}
.titledImg{
    display: table;
    text-align: center;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    max-width: 98%;
    max-width: calc(100% - 8x);
}
@media screen and (max-width: 600px) {
    .titledImg{
        max-width: 96%;
        max-width: calc(100% - 16x);
    }
}
.imgTitle{
    display: table-row;
    width: 100%;
    text-align:center;
    color:#333;
    font-size:13px;
    box-shadow: -1px -1px 2px 2px #eee;
    -webkit-box-shadow: -1px -1px 2px 2px #eee;
}
.picsClickAble img{
    margin:1px;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    cursor:pointer;
}
.titledImg img{
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

.imgRotate{
    transition:transform 1s;
    -webkit-transition:-webkit-transform 1s;
    cursor:pointer;
}
.imgRotated{
    transform:rotate3D(0,0,1,180deg);
    -webkit-transform:rotate3D(0,0,1,180deg);
}

.galleryPrevSliderOuter img{
    border: 0;
    border-radius: 0;
    padding: 0;
}
.galleryPrevSliderOuter{
    width: 150px;
    height: 150px;
    position: relative;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    margin: 1px;
    float: left;
}
.galleryPrevSliderOuter:hover{
    background: #eee;
}
.galleryPrevSliderTitle{
    position: absolute;
    z-index: 3;
    width: 100%;
    border-radius: 4px 4px 0 0;
    background: #ffffff;
    background: rgba(255,255,255,0.7);
    text-align: center;
}
.galleryPrevSliderInner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}
.galleryPrevSliderImg{
    transition:left 500ms;
    -webkit-transition:left 500ms;
    z-index: 2;
    position: absolute;
    width: 100%;
    left:0;
    opacity: 1;
}
.galleryPrevSliderImg.opac0{
    opacity: 0;
    display: none;
}
.galleryPrevSliderImg.right{
    left:150px;
    opacity: 0;
}
.galleryPrevSliderImg.left{
    left:-150px;
}