.hidden{
    visibility:hidden;
    height:0;
    width:0;
    overflow:hidden;
}
.height0{
    height:0;
    opacity:0;
}
.opac0{
    opacity:0;
}
.galPic{
    margin:1px;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    cursor:pointer;
}
.gallery img{
    margin:1px;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    cursor:pointer;
}
.titledImg{
    display: table;
    text-align: center;
}
.imgTitle{
    display: table-row;
    width: 100%;
    text-align:center;
    color:#333;
    font-size:13px;
}
.picsClickAble img{
    margin:1px;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    cursor:pointer;
}

.imgRotate{
    transition:transform 1s;
    -webkit-transition:-webkit-transform 1s;
    cursor:pointer;
}
.imgRotated{
    transform:rotate3D(0,0,1,180deg);
    -webkit-transform:rotate3D(0,0,1,180deg);
}