.hidden{
    visibility:hidden;
    height:0;
    width:0;
    overflow:hidden;
}
.height0{
    height:0;
    opacity:0;
}
.opac0{
    opacity:0;
}
.galPic{
    margin:1px;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    cursor:pointer;
}
.gallery img{
    margin:1px;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    cursor:pointer;
}
/*.picsClickAble{
	border:2px solid #000;
	border-radius: 3px;
	padding: 2px;
}*/
.picsClickAble img{
    margin:1px;
    box-shadow:1px 1px 3px #ccc;
    padding:5px;
    border-radius:4px;
    background:#FFF;
    border:1px solid #CCC;
    cursor:pointer;
}

.imgRotate{
    transition:transform 1s;
    -webkit-transition:-webkit-transform 1s;
    cursor:pointer;
}
.imgRotated{
    transform:rotate3D(0,0,1,180deg);
    -webkit-transform:rotate3D(0,0,1,180deg);
}

.einsatzContainer{
    position:relative;
    border-radius:6px;
    border:1px solid #CCC;
}
.einsatzContTitle{
    text-align:center;
    font-size:25px;
    font-weight:bold;
}

.einsatzOuter{
    position:relative;
    margin:2px;
}
.einsatzTitle{
    padding:4px;
    border-radius:5px 5px 0 0;
    background:#CCC;
    border:1px solid #999;
}
.einsatzCount{
    display:inline-flex;
    padding:2px 3px;
    border:1px solid #A00;
    background:#F66;
    color:#FFF;
    font-weight:bold;
    border-radius:2px;
    margin:1px;
}
.einsatzDate{
    display:inline-flex;
    padding:3px;
    float:right;
    border:1px solid #777;
    border-right-width:0;
    border-radius:3px 0 0 3px;
}
.einsatzTime{
    display:inline-flex;
    float:right;
    color:#555;
    border:1px solid #777;
    border-left-width:0;
    border-radius:0 3px 3px 0;
    padding:3px;
}
.einsatzKeyword{
    display:inline-flex;
    padding:3px;
}
.einsatzPlace{
    display:inline-flex;
    color:#555;
}
.einsatzShort{
    display:table;
    background:#EEE;
    border-radius:0 0 5px 5px;
    border:1px solid #999;
    border-top-width:0;
    padding:3px;
    width:calc(100% - 7px);
}
.einsatzShort a{
    color:#000;
    text-decoration:none;
}
.einsatzShort a:hover{
    color:#555;
}
.einsatzText{
    display:table;
    background:#EEE;
    border:1px solid #999;
    border-top-width:0;
    border-bottom-width:0;
    padding:3px;
    width:calc(100% - 8px);
}
.einsatzBot{
    border-radius:0 0 5px 5px;
    border:1px solid #999;
    border-top-width:0;
    background:#DDD;
    padding:3px;
    width:calc(100% - 8px);
}
.einsatzBot a{
    color:#000;
    text-decoration:none;
}
.einsatzBot a:hover{
    color:#555;
}