body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2.2pc;
}
.container{
    width:100%;
    height:100%;
}
.header{
    width:100%;
    height:10pc;
    background:#A00;
    position:relative;
}
.menuImg{
    position:absolute;
    z-index:9;
    left:1pc;
    top:2.5pc;
    bottom:2.5pc;
}
.menuLogo{
    position:absolute;
    right:6px;
    top:6px;
    bottom:6px;
    text-align:right;
    width:100%;
}
.pageTitle{
    position:absolute;
    top:19%;
    left:20%;
    padding:5px 6px;
    border-radius:4px;
    border:1px solid #D88;
    background:#FFF;
    background:rgba(255,255,255,0.6);
    box-shadow:0 0 3px 3px #F66;
    font-size:3.25pc;
}
.menuOuter{
    transition:left 250ms;
    -webkit-transition:left 250ms;
    position:absolute;
    top:100%;
    left:-100%;
    z-index:5;
    border:4px solid #555;
    border-radius:0 5px 5px 0;
    box-shadow:0 0 2px 2px #555;
    padding:2px;
    background:#FFF;
}
.menuOuter ul{
    list-style-image:url("images/leer.png");
    margin:0;
}
.menuOuter li{
    list-style-image:url("images/leer.png");
    margin:0;
}
.menuItem{
    border:0.5pc solid #999;
    border-radius:0.5pc;
    padding:3px 4px;
    margin:5px 1px;
    background:#EEE;
}
.menuItem a{
    text-decoration:none;
    font-size:4.75pc;
    color:#333;
    font-weight:bold;
}
.menuItem.active{
    background:#CCC;
}
.pageOuter{
    border:2px solid #A00;
    border-top-color:#333;
    border-bottom-color:#333;
    width:100%;
    width:calc(100% - 12px);
    margin:0;
    padding:4px;
    overflow:scroll;
}
.content{

}
.contentInner h1{
    border:0 dotted #333;
    border-bottom-width:1px;
    font-size:55px;
}
.footer{
    height:12pc;
    min-height:100px;
    background:#A00;
}
.copyright{
    text-align:center;
    color:#999;
    font-size:0.5pc;
}
.galPic{
    padding:1pc;
    margin:0.5pc;
    background:#EEE;
    border-radius:1pc;
    border:4px solid #CCC;
    height:12.5pc;
}