body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width:100%;
    height:100%;
}
.pageOuter{
    padding:7px 0;
    text-align:center;
    width:100%;
    box-shadow:inset 0 0 150px #9c9;
    display:block;
}
.contentOuter{
    position:relative;
    display:flex;
    width:85%;
    border:1px solid #55830C;
    margin:5px 0;
    text-align:left;
    min-width:890px;
}
.content{
    width:100%;
    display:flex;
    min-height:150px;
    background:#FFF;
}
.content h1{
    color:#222;
    margin:0 0 5px 0;
    border:0 dotted #666;
    border-bottom-width:1px;
}
.contentInner{
    width:80%;
    padding:5px;
    display:block;
}
.youShallNotUpload{
     color:#f00;
     font-weight:bold;
 }
.youShallUpload{
    color:#5B9909;
}
.userMessage{
    display:inline-flex;
    color:#666;
    border-radius:3px;
    border:1px solid #ccc;
    padding:1px;
}
.rightBar{
    width:20%;
    display:inline-block;
    height:100%;
    border:0 solid #55830C;
    border-left-width:1px;
    box-shadow:inset 0 0 150px #55830C;
    background:#77B55A;
}
.rightBarInner{
    display:block;
    padding:5px;
}

.header{
    position:relative;
    width:85%;
    border:1px solid #55830C;
    box-shadow:inset 0 0 150px #55830C;
    background:#77B55A;
    height:100px;
    padding:1px;
    min-width:890px;
}
.pageTitle{
    position:absolute;
    font-size:30px;
    margin:10px 0 0 15%;
    padding:3px 9px;
    color:#030;
    font-weight:bold;
    background:rgba(255,255,255,0.6);
    box-shadow:inset 0 0 15px #77B55A, 0 0 3px #55830C;
    border:1px solid #55830C;
    border-radius:3px;
}
.search{
    position:absolute;
    right:115px;
    width:155px;
    top:5px;
    border:1px solid #555;
    padding:0;
    border-radius:3px;
}
.search input{
    height:20px;
    float:left;
    background:#EEE;
    border:0;
    border-radius:3px 0 0 3px;
}
.search img{
    position:absolute;
    right:0;
    height:22px;
}
.pageLogo{
    position:absolute;
    top:5px;
    right:5px;
    height:90px;
}
.footer{
    position:relative;
    background:#333;
    box-shadow:inset 0 0 65px #000;
    border:1px solid #000;
    width:85%;
    height:100px;
    color:#EEE;
    font-size:18px;
    min-width:890px;
}
.fb-like-outer{
    position:absolute;
    background:#EEE;
    padding:13px 0 0 5px;
    height:76px;
    width:325px;
    border-radius:5px;
    left:5px;
    top:5px;
}

.menu{
    position:absolute;
    top:63px;
    left:-1px;
    height:35px;
}
.menuItem{
    width:175px;
    text-align:center;
    box-shadow:inset 0 0 1px #fff;
}
.menuItem a{
    color:#EEE;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
}
.menuItem.active{
    background:#470;
    background:rgba(0,0,0,0.3);
}
.subMenu{
    top:38px;
    left:-1px;
    z-index:9;
    position:absolute;
    background:#5B9909;
    border:1px solid #090
}
.subMenu2{
    transition:visibility 200ms,opacity 200ms;
    -webkit-transition:visibility 200ms,opacity 200ms;
    position:absolute;
    left:175px;
    top:-1px;
    background:#55830C;
    border:1px solid #2b2;
}
.topItem{
    transition:background 250ms;
    -webkit-transition:background 250ms;
    font-size:20px;
    position:relative;
    background:#55830C;
    float:left;
    margin:0 1px;
    padding:7px 0;
    border:1px solid #55830C;
}
.topItem:hover{
    background:#470;
}
.subItem{
    transition:background 250ms;
    -webkit-transition:background 250ms;
    position:relative;
    font-size:16px;
    padding:4px 0;
    border:0 dotted #000;
    border-bottom-width:1px;
    box-shadow:inset 0 0 1px #BBB;
}
.subItem:hover{
    background:#77B55A;
}
.subItemLeft{
    left:-175px;
}
.lastItem{
    border:0;
}

.menuOut{
    visibility:hidden;
    opacity:0;
}
.imgTitle{
    width:100%;
    text-align:center;
    color:#333;
    font-size:13px;
}
.copyRight{
    color:#999;
    font-size:13px;
}

.rightItem{
    transition:height 1s,padding 1s;
    -webkit-transition:height 1s,padding 1s;
    background:#55830C;
    border:1px solid #77B55A;
    border-radius:4px;
    padding:7px 0;
    margin:1px 0;
    width:100%;
    color:#FFF;
    font-weight:bold;
    text-align:center;
    overflow:hidden;
    height:25px;
}
.rightItem:hover{
    background:#470;
}
.rightItem a{
    color:#FFF;
    text-decoration:none;
}

.musicPlayer{
    position:relative;
    padding:3px;
    border-radius:3px;
    background:#333;
}
.music a{
    text-decoration:none;
    color:#555;
}
.music a:hover{
    color:#000;
}
.musicControls{
    display:inline-block;
    position:relative;
}
.musicControlsInner{
    color:#FFF;
    width:350px;
    top:-16px;
    left:20px;
    position:absolute;
}
.musicControlsInner img{
    position:absolute;
    left:-25px;
}
.musicPlayerInfo{
    position:absolute;
    right:5px;
    top:7px;
    color:#999;
    font-size:10px;
}

.height0{
    height:0;
    padding:0;
}