body{
    background:#373737;
    font-family:Arial;
    color:#FFF;
}
.loginTitle{
    float:right;
    color:#EEE;
    font-size:12px;
    text-align:right;
}
.login{
    background:#222;
    width:250px;
    top:100px;
    position:absolute;
    text-align:center;
    color:#ccc;
    left:calc(50% - 127px);
    border-radius:5px;
    border:1px solid #EEE;
    padding:2px;
}
.login a{
    color:#ccc;
    text-decoration:none;
}
.login a:hover{
    color:#FFF;
}
.title{
    text-align:center;
    color:#FFF;
    font-size:25px;
}