#name#Gray1#
#options#
#file#rightBar_{lang}.php#
#required#
#file#html5.php#
#file#mobile.php#
#file#images/arrowTop.png#
#file#images/close.png#
#file#images/menu.png#
#file#images/search.png#
#file#images/flag_de.png#
#file#images/flag_en.png#
#file#index.php#
#file#rightBar_de.php#
#file#rightBar_en.php#
#file#specialContent.php#
#file#styleHTML5.min.css#
#file#styleSpecialContent.css#
#file#styleSpecialContent.min.css#
#file#styleMobile.min.css#
#file#scriptHTML5.min.js#
#file#scriptMobile.min.js#
#end#