#name#Red1#
#editAble#
#option#basicStyles#
#option#footer#
#options#
#file#footer_{lang}.php#
#required#
#file#footer_de.php#
#file#footer_en.php#
#file#html5.php#
#file#mobile.php#
#file#images/arrowTop.png#
#file#images/close.png#
#file#images/menu.png#
#file#images/search.png#
#file#index.php#
#file#styleHTML5.min.css#
#file#styleMobile.min.css#
#file#scriptHTML5.min.js#
#file#scriptMobile.min.js#
#end#