html,body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden;
    background:#546e7a;
    height: 100%;
    width: 100%;
}
img{
    border:0;
}
.description{
    background: #eceff1;
    font-size: 13px;
}
.description.version{
    background: #cfd8dc;
    font-size: 15px;
    font-weight: bold;
}
.container{
    position: relative;
    margin: 5px;
    overflow:auto;
    background: #fff;
    height: 99%;
    height: calc(100% - 10px);
}
.progressBar{
    position:absolute;
    transition:width 1s ease-out;
    -webkit-transition:width 1s ease-out;
    height:25px;
    top:2px;
    left:20%;
    left: calc(50% - 514px);
    background:#568C0A;
    text-align:center;
    padding:4px 4px 0 4px;
    border-radius:5px;
}
.progressBar.hidden{
    display:none;
}
.progressBarUnder{
    position:relative;
    height:27px;
    width:1024px;
    border:1px solid #263238;
    padding:4px 4px 0 4px;
    border-radius:5px;
}
.progressBarUnder.hidden{
    display:none;
}
.button{
    display:inline-flex;
    margin:1px;
    background:#F90;
    border-radius:3px;
    padding:2px;
    cursor:pointer;
}
.button:hover{
    background:#FF8000;
}
.button a{
    text-decoration:none;
    color:#000;
}
.button.green{
    background:#568C0A;
}
.button.green:hover{
    background:#88BE14;
}
.button.hidden{
    display:none;
}
.spacer{
    height:30px;
}
.updateUpdater{
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
}
.updateUpdater.hidden{
    display: none;
}
.data{
    position: absolute;
    bottom: -83px;
}
.fileFailed{
    color: #f44336;
}
.fileSuccess{
    color: #4caf50;
}